@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

$main-background: hsl(222, 26%, 31%);
$toggle-background: hsl(223, 31%, 20%);
$screen-background: hsl(224, 36%, 15%);

//Keys Colors
$key-background: hsl(225, 21%, 49%);
$key-shadow: hsl(224, 28%, 35%);
$red-key-background: hsl(6, 63%, 50%);
$red-key-shadow: hsl(6, 70%, 34%);
$light-gray-key-background: hsl(30, 25%, 89%);
$gray-orange-key-background: hsl(28, 16%, 65%);

//Text Colors
$dark-grayish-blue-text: hsl(221, 14%, 31%);
$white-text: hsl(0, 0, 100%);
